In [5]:
import pandas as pd

In [128]:
df = pd.DataFrame(data=[['A','random text'],
                            ['B','random text'],
                            ['A','random text'],
                            ['A','random text'],
                            ['A','random text'],
                            ['B','random text'],
                            ['A','random text'],
                            ['B','random text'],
                            ['B','random text'],
                            ['A','random text']], columns=['speaker','message'])
list(df)

['speaker', 'message']

In [130]:
df['key'] = (df['speaker'] != df['speaker'].shift(1)).astype(int).cumsum()
print(df)

  speaker      message  key
0       A  random text    1
1       B  random text    2
2       A  random text    3
3       A  random text    3
4       A  random text    3
5       B  random text    4
6       A  random text    5
7       B  random text    6
8       B  random text    6
9       A  random text    7

In [ ]:
df = df.groupby(['key', 'speaker'])['message'].apply(' '.join)
df

In [127]:
import pandas as pd
import numpy as np
arr1 = np.array([[1, 2,3], ['a','b','c']])
arr2 = np.array([[2, 3], ['a','b']])
df1 = pd.DataFrame(index=np.arange(0, 2), columns=(['column1']))
df1.iloc[0][0]=arr1
df1.iloc[1][0]=arr2

In [146]:
3936/24

164.0

In [150]:
import numpy as np

data = np.zeros(34345)
out = data.reshape((-1,1,24,2))

ValueError: cannot reshape array of size 34345 into shape (1,24,2)

In [148]:
data = np.zeros(4000) # 9992 is 784 x 12.745 ... not integer divisible
out = data.reshape((-1,1,28,28))

ValueError: cannot reshape array of size 4000 into shape (1,28,28)

In [151]:
Data = {'Col1': [1 , 2 , 3 , 0 , 0 , 4] , 'Col2': [0 , 2 , 0 , 5 , 6 , 4]}
df = pd.DataFrame(data = Data)
df.head()

   Col1  Col2
0     1     0
1     2     2
2     3     0
3     0     5
4     0     6

In [156]:
df['col3'] = df.max(1)

In [157]:
df

   Col1  Col2  col3
0     1     0   1.0
1     2     2   2.0
2     3     0   3.0
3     0     5   5.0
4     0     6   6.0
5     4     4   4.0

In [187]:
import pandas as pd
import datetime as dt
import numpy as np

julians  = np.arange(1, 366,1)
date_str = [dt.datetime.strptime(str(days).zfill(3), '%j').date() for days in julians]

date_ind = [strs.strftime('%m-%d') for strs in date_str]
dfs =pd.DataFrame(np.arange(1, 366, 1), index = date_ind)

dfs_ref = pd.DataFrame(np.arange(1, 1462,1 ),index = pd.date_range('2015-01-01', '2018-12-31', freq = 'D'))  # the reference index

#df_fin = dfs.reindex(dfs_ref.index).ffill() 
df_fin = dfs.reindex(dfs_ref.index).ffill()

In [188]:
df_fin

             0
2015-01-01 NaN
2015-01-02 NaN
2015-01-03 NaN
2015-01-04 NaN
2015-01-05 NaN
...         ..
2018-12-27 NaN
2018-12-28 NaN
2018-12-29 NaN
2018-12-30 NaN
2018-12-31 NaN

[1461 rows x 1 columns]